[Unit]
Description=Flapjack

[Service]
WorkingDirectory=%h/code/flapjack
ExecStart=%h/code/flapjack/plano serve --port 60006

[Install]
WantedBy=default.target
